@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);
/* line 7, ../sass/style.scss */
h1 {
  font-family: "Vollkorn", Georgia, sans-serif;
  text-transform: uppercase;
  letter-spacing: 11px;
  font-weight: 700;
  font-size: 5.5rem;
}

/* line 15, ../sass/style.scss */
h2 {
  font-family: "Vollkorn", Georgia, sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

/* line 21, ../sass/style.scss */
h3 {
  font-family: "Vollkorn", Georgia, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
}

/* line 28, ../sass/style.scss */
h4 {
  font-family: "Vollkorn", Georgia, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

/* line 34, ../sass/style.scss */
p {
  font-size: 1.9rem;
}

/* line 38, ../sass/style.scss */
img {
  max-width: 430px;
}

/* line 43, ../sass/style.scss */
.content-wrapper {
  height: 100vh;
}

/* line 47, ../sass/style.scss */
.component-wrapper {
  height: 100%;
}
/* line 49, ../sass/style.scss */
.component-wrapper h1 {
  text-align: center;
}

/* line 54, ../sass/style.scss */
a.return-link {
  position: absolute;
  top: 15px;
  left: 35px;
  font-family: "Vollkorn", Georgia, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: #333;
}
/* line 63, ../sass/style.scss */
a.return-link:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* line 69, ../sass/style.scss */
a.finish-task-btn {
  background-color: #E4E4E4;
  border-color: #C1C1C1;
}
/* line 72, ../sass/style.scss */
a.finish-task-btn:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

/* line 79, ../sass/style.scss */
.left-column-wrapper, .right-column-wrapper {
  height: 100%;
}

/* line 83, ../sass/style.scss */
.left-column {
  padding: 20px 0 0 20px;
  text-align: center;
}

/* line 88, ../sass/style.scss */
.right-column {
  padding: 20px 20px 0 0;
}

/* line 93, ../sass/style.scss */
.start-component {
  background-color: #FDFCF6;
  text-align: center;
}

/* line 98, ../sass/style.scss */
.quest-text {
  margin-bottom: 55px;
}

/* line 110, ../sass/style.scss */
.header {
  margin-top: 16%;
  margin-bottom: 30px;
}
/* line 113, ../sass/style.scss */
.header h1 {
  margin: 0;
}

/* line 119, ../sass/style.scss */
.coming-soon-chapter {
  background-color: #ECECEC;
  color: #828282;
}
/* line 122, ../sass/style.scss */
.coming-soon-chapter i {
  font-size: 25px;
  padding-right: 10px;
}

/* line 130, ../sass/style.scss */
.step-1-component .left-column-wrapper {
  background-color: #B688B9;
}

/* line 137, ../sass/style.scss */
.step-2-component .left-column-wrapper {
  background-color: #DEA35E;
}

/* line 144, ../sass/style.scss */
.step-3-component .left-column-wrapper {
  background-color: #88B9B2;
}

/* line 151, ../sass/style.scss */
.step-4-component .left-column-wrapper {
  background-color: #F5B1D4;
}

/* line 158, ../sass/style.scss */
.step-5-component .left-column-wrapper {
  background-color: #A5C0EF;
}

/* line 164, ../sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #424242;
}
