@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);

//GENERAL
$font-stack: 'Vollkorn', Georgia, sans-serif;
$font-color: #333;

h1 {
	font-family: $font-stack;
	text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: 700;
    font-size: 5.5rem;
}

h2 {
	font-family: $font-stack;
	font-weight: 700;
	font-size: 4rem;
}

h3 {
	font-family: $font-stack;
	font-style: italic;
	font-weight: 400;
	font-size: 3rem;
}

h4 {
	font-family: $font-stack;
	font-weight: 700;
	font-size: 2.5rem;
}

p {
	font-size: 1.9rem;
}

img {
	 max-width: 430px;
}

//GENERAL FOR COMPONENT PAGES
.content-wrapper {
	height:100vh;
}

a.return-link {
	position: absolute;
    top: 15px;
    left: 35px;
    font-family: $font-stack;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    color: $font-color;
    &:hover {
    	color: #F00;
    	text-decoration: none;
    }
}

a.finish-task-btn {
	background-color: #E4E4E4;
    border-color: #C1C1C1;
    &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    }
}

.left-column-wrapper {
    background-color: #B688B9;
    height: 100%;
}

.right-column-wrapper {
	height: 100%;
}

.left-column {
	padding: 20px 0 0 20px;
	text-align: center;
}

.right-column {
	padding: 20px 20px 0 0;
}

//START PAGE
.component-wrapper {
	height: 100%;
}

.start-component {
	background-color: #FDFCF6;
	text-align: center;
}

.quest-text {
	margin-bottom: 55px;
}

// .chapter-1-component {
// 	background-color: #000;
// }

// .chapter-2-component {
// 	background-color: #000;
// }

.header {
	margin-top: 16%;
	margin-bottom: 30px;
	h1 {
		margin: 0;
	}
}