@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);

//GENERAL
$font-stack: 'Vollkorn', Georgia, sans-serif;
$font-color: #333;

body {

}

h1 {
	font-family: $font-stack;
	text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: 700;
    font-size: 5.5rem;
}

h2 {
	font-family: $font-stack;
	font-weight: 700;
	font-size: 4rem;
}

h3 {
	font-family: $font-stack;
	font-style: italic;
	font-weight: 400;
	font-size: 3rem;
}

h4 {
	font-family: $font-stack;
	font-weight: 700;
	font-size: 2.5rem;
}

p {
	font-size: 1.9rem;
}

img {
	 max-width: 430px;
}

//GENERAL FOR COMPONENT PAGES
.content-wrapper {

}

.component-wrapper {
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    min-height: 100vh;
	h1 {
		text-align: center;
	}
}

a.return-link {
	position: absolute;
    top: 15px;
    left: 35px;
    font-family: $font-stack;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    color: $font-color;
    &:hover {
    	opacity: 0.5;
    	text-decoration: none;
    }
}

a.finish-task-btn {
	background-color: #E4E4E4;
    border-color: #C1C1C1;
    &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    }
}

// .left-column-wrapper, .right-column-wrapper {
//    height: 100%;
// }

.left-column-wrapper {
	padding: 2em 2.8em 0 2.8em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    width: 67vw;
}

.right-column-wrapper {
    padding: 2em 2.8em 0 1.3em;
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    overflow: hidden;
    width: 33vw;
}

.left-column {
	text-align: center;
}

.right-column {
}

//START PAGE
.start-component {
	background-color: #FDFCF6;
	text-align: center;
}

.quest-text {
	margin-bottom: 55px;
}

// .chapter-1-component {
// 	background-color: #000;
// }

// .chapter-2-component {
// 	background-color: #000;
// }

.header {
	margin-top: 16%;
	margin-bottom: 30px;
	h1 {
		margin: 0;
	}
}

//CHAPTERS OVERVIEW
.chapters-overview-component {
	h1 {
		padding-top: 20px;
	}
}

.coming-soon-chapter {
	background-color: #ECECEC;
	color: #828282;
	i {
		font-size: 25px;
		padding-right: 10px;
	}
}

//STEP 1
.chapter-1-step-1-component {
	.left-column-wrapper {
	    background-color: #F3DD93;//#B688B9;
	}
}

//STEP 2
.chapter-1-step-2-component {
.left-column-wrapper {
	    background-color: #DEA35E;
	}
}

//STEP 3
.chapter-1-step-3-component {
	.left-column-wrapper {
	    background-color: #88B9B2;
	}
}

//STEP 4
.chapter-1-step-4-component {
.left-column-wrapper {
	    background-color: #F5B1D4;
	}
}

//STEP 5
.chapter-1-step-5-component {
.left-column-wrapper {
	    background-color: #A5C0EF;
	}
}

//FOOTER
.footer {
	p {
		margin: 0;
		padding: 0.5em 2.8em;
	}
    background-color: #424242;
}

//TOUR
.popover  {
background: #CDF5F7;
}
.popover.right .arrow:after {
  border-right-color: #CDF5F7;
}

.popover.left .arrow:after {
  border-left-color: #CDF5F7;
}

//UGLY HACK FOR CRAPPY TOUR
.popover[class*=tour-] {
    z-index: 1101;
}