<div class="component-wrapper chapter-1-component">
	<div class="row">
		<div class="col-md-8 left-column-wrapper">
			<div class="left-column">
				<h2>CHAPTER 1</h2>

				<a href="/" class="return-link"><i class="fa fa-angle-double-left"></i> Go back</a>

				<p class="quest-text">Cough furball i am the best eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap and get video posted to internet for chasing red dot or destroy the blinds. Mew peer out window, chatter at birds, lure them to mouth but play riveting piece on synthesizer keyboard touch water with paw then recoil in horror knock dish off table head butt cant eat out of my own dish for destroy the blinds climb leg.</p>

				<h4>Here! Take this sword!</h4>
				<a href="http://www.sublimetext.com/2" target="_blank"><img src="./images/chapter-1-sword.jpg" /></a>
			</div>
		</div>

		<div class="col-md-4 right-column-wrapper">
			<div class="right-column">
				<h3>Do like this:</h3>
				<ul class="list-group">
					<li class="list-group-item">1. Ladda ner Sublime Text 2</li>
					<li class="list-group-item">2. Skapa en ny mapp som heter Quest. Lägg den var du vill!</li>
					<li class="list-group-item">3. Öppna Sublime Text 2. Välj View > Side Bar > Show Side bar</li>
					<li class="list-group-item">4. Dra din nyskapade mapp till Sublime och lägg den i din side bar</li>
					<li class="list-group-item">5. I Sublime, högerklicka på ditt projekt och välj "New File"</li>
					<li class="list-group-item">6. Spara filen utan att skriva något i den genom att trycka på CTRL + S och namnge den till index.html</li>
					<li class="list-group-item">7. Nu, i din nya fil, skriv <code>&lt;p&gt;I can see you! Can you see me?&lt;/p&gt;</code></li>
					<li class="list-group-item">8. Öppna nu filen i din webbläsare</li>
					<a href="#/chapter-2" class="list-group-item finish-task-btn btn">I'M DONE!</a>
				</ul>
			</div>
		</div>
	</div>
</div>