<h1>CHAPTER 2</h1>

<p>Cough furball i am the best eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap and get video posted to internet for chasing red dot or destroy the blinds. Mew peer out window, chatter at birds, lure them to mouth but play riveting piece on synthesizer keyboard touch water with paw then recoil in horror knock dish off table head butt cant eat out of my own dish for destroy the blinds climb leg.</p>

<a href="#/chapter-1" class="return-link"><i class="fa fa-arrow-left"></i> GO BACK</a>
<a href="/" class="finish-task-btn btn btn-default">I'M DONE!</a>