<div class="component-wrapper chapter-1-step-1-component" data-id="1">
	<div class="left-column-wrapper">
		<div class="left-column">
			<h2>The Meadow - lost voices</h2>

			<a href="" class="return-link" data-bind="click: $parent.endTourAndRedirect.bind($parent)"><i class="fa fa-angle-double-left"></i> Go back</a>

			<p class="quest-text">Cough furball i am the best eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap and get video posted to internet for chasing red dot or destroy the blinds. Mew peer out window, chatter at birds, lure them to mouth but play riveting piece on synthesizer keyboard touch water with paw then recoil in horror knock dish off table head butt cant eat out of my own dish for destroy the blinds climb leg.</p>
		</div>
	</div>
	<div class="right-column-wrapper">
		<div class="right-column">
			<h3>Okay, let's do this:</h3>
			<ul class="list-group">
				<li class="list-group-item">1. Go to the folder "Name of the folder" and open it. Open the file <samp>index.html</samp> in your browser. Now you can see all the animals that you will help get their voices back. You can press the buttons but they wont do anything. That is what you are going to make.</li>
				<li class="list-group-item">2. For all the steps in this chapter, you are going to work with a file called <samp>animals.js</samp> located in your folder "Something > Scripts". Open this file. See all the prepared code in there.</li>
				<li class="list-group-item">3. We will start with <code>makeHorseLadySpeak()</code>. This is a so called function. All the code that is written inside this functions curly brackets will not be runned until you call the function. The call to it is already prepared and will happen when we press the button above the horse. When we do so, the code inside it will be runned.</li>
				<li class="list-group-item">4. Let's write that code! Inside the curly brackets, write <code>alert("OMG, my voice is back! Thank you!");</code>.</li>
				<li class="list-group-item">5. Now save <samp>animals.js</samp>. Reload the <samp>index.html</samp> file that you have opened in your browser. Press the button for the horse and see the alert pop up.</li>
				<a href="#/chapter-1-step-2" class="list-group-item finish-task-btn btn">I'M DONE!</a>			
			</ul>
		</div>
	</div>
</div>