<div class="component-wrapper chapter-2-component">
	<div class="row">
		<div class="col-md-8 left-column-wrapper">
			<div class="left-column">
				<div class="container">
					<h2>CHAPTER 2</h2>

					<a href="#/chapter-1" class="return-link"><i class="fa fa-angle-double-left"></i> Go back</a>

					<p class="quest-text">Cat ipsum dolor sit amet, manx and manx. Cornish rex american shorthair himalayan, yet balinese yet kitty for tom yet cougar. Scottish fold lion. Lion persian american shorthair for savannah egyptian mau russian blue. Cougar american bobtail jaguar. Manx ocelot so malkin so thai ocelot for american bobtail yet tabby. Egyptian mau kitten so puma but manx american bobtail. Tomcat manx or british shorthair and maine coon siberian. Bombay jaguar kitten, egyptian mau yet siamese. Balinese tom for bobcat birman. Lynx. Sphynx siamese, tom abyssinian.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 right-column-wrapper">
			<div class="right-column">
				<h3>Do like this:</h3>
				<ul class="list-group">
					<li class="list-group-item">1. </li>
					<li class="list-group-item">2. </li>
					<li class="list-group-item">3. </li>
					<li class="list-group-item">4. </li>
					<li class="list-group-item">5. </li>
					<a href="#/chapter-3" class="list-group-item finish-task-btn btn">I'M DONE!</a>
				</ul>
			</div>
		</div>
	</div>
</div>