<div class="component-wrapper intro-component">
	<div class="container top-container">
		<h1>Introduction</h1>
		<ul class="list-group">
			<h3>The story</h3>
			<p>A mystical mist is laying over the fields and cities of the SpiderMonkey Island. At first glance, it seems like a harmonious and paradisiacal island. But if you look through the fog, you notice that the people of the island are under an uncanny spell. The creatures of the island are not themselves. And what once before was a place filled with chatter and friendship is now a quite, hostile and deserted wasteland. Since the wizard of NaN visited Spider Monkey Island last month the whole island has been laying under a evil spell. </p>

			<p>Good thing you came! You are supposed to save theese poor island creatures from the spell and destroy the wizards sorcery. Let's get you ready for the work.</p>

			<h3>Preparations</h3>
		<!-- KEEP FOR INTRO PREPARATION PAGE -->
				<li class="list-group-item">1. Download Sublime Text 2 (or use other text editor of choice)</li>
				<li class="list-group-item">2. We are going to use <a href="">this project</a> in this tutorial. Download it and place it wherever</li>
				<li class="list-group-item">3. Open Sublime Text 2. Choose View > Side Bar > Show Side bar</li>
				<li class="list-group-item">4. Drag your new folder to Sublime and put it in your side bar</li>
				<li class="list-group-item">5. Go to your folder and open the <samp>index.html</samp> file in your browser and see the result</li>
				<a href="#/chapters-overview" class="list-group-item finish-task-btn btn">I'm ready to start!</a> <!-- click: $parent.getPointsAndRedirect.bind($parent) -->
			</ul>
	</div>

	<a href="#/" class="return-link"><i class="fa fa-angle-double-left"></i> Go back</a>

</div>